.bg-blue {
    background-color: #2BAAEC;
}

.bg-gray {
    background-color: #DEDEDE;
}

.text-white {
    color: #F3FBFF;
}
.bg-dark {
    background: #333333;
    color: #ffffff; 
 }
 
 .bg-light {
     background: #f7f7f7;
     color: #333333; 
 }
 bg-wite {
    background: white ;  
}  

 