@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url(colors.css);

* {
    box-sizing: border-box;
 } 

html, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #626262;
    align-items: center;
    /* justify-content: center; */
    /* display: flex; */
}
.grid {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-areas:    "header header header"
                                "showcase about services"
                                "appointment appointment appointment"
                                "footer footer footer";
    }  
header {
     grid-area: header;

     display: grid;
     grid-template-columns: 1fr; 
     grid-template-areas:    "navbar-top"
                            "navbar";                          
}
#navbar-top  {
    grid-area: navbar-top ;
    text-align: center;
}
#navbar {
 grid-area: navbar;
 text-align: center;
}

.border {
    border: 1px solid black;
}

a {
    color: #2BAAEC;
    text-decoration: none;
    background-color: transparent;
}
  
a:hover {
    color: #25E6C8;
}
/* .bg-blue { 
    background-color: #2BAAEC;
}

.bg-gray {
    background-color: #DEDEDE;
}

.text-white {
    color: #F3FBFF;
}
.bg-dark {
    background: #333333;
    color: #ffffff; 
}
 
.bg-light {
     background: #f7f7f7;
     color: #333333; 
}
 
.bg-wite {
    background: white ;  
}  



/* .bg-dark { 
   background: #333333;
   color: #ffffff; 
}

.bg-light {
    background: #f7f7f7;
    color: #333333; 
}

}*/

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.75rem 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}

.btn-greenish {
    color: #fff;
    background-color: #25E6C8;
    font-weight: bold;
}

.btn-greenish:hover {
    cursor: pointer;
    background-color: #2BAAEC;
}
 .collapse:not(.show) { 
    display: none;
}
 /* .container {  
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}*/

#navbar-top {
    border-bottom: 1px solid #707070;

}

#navbar-top, #navbar  {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

#navbar .container, .navbar-top .container {
     display: flex; 
    justify-content: space-between;  
    align-items: center;
}

 #navbar-top .container { 
    font-size: 0.8rem;
}

#navbar-top .container .hours {
    color:#626262;
}

.navbar-top .container .hours i {
    color: #2BAAEC;
    margin-right: 0.5rem;
    font-size: 1.2em;
}

#navbar-top .container .socialmedia a {
    margin: 0 0.5rem;
}

#navbar {
    margin: 1.2rem 0;
}


#navbar-brand {
    display: inline-block;
    font-size: 1.5rem;
    color: black;
    margin-right: 1rem;  
}

#navbar-brand img {
    height: 4rem;
    margin-top: 0.5rem;
}

#navbar-toggler {
    font-size: 2.5rem;
    color:#2BAAEC;
    background-color: transparent;
    border: 1px solid transparent;
}

#navbar-collapse {
    align-items: center;
}

#navbar-nav {
    display: flex;
    flex-direction: column;
}

#navbar .container .collaps navbar-collapse .nav-link  {
    color: #363636;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    padding: 0;
    text-decoration: none;
}
#showcase {
    grid-area: showcase ;
}

#showcase .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}

#showcase .container img {
    height: 500px;
    margin-top: 1rem;
}

#showcase .container .content-box {
    align-self: center;
    color: #363636;
    font-weight: 300;
    display: block;

}

#showcase .container .content-box  h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
     font-weight: 300; 
    line-height: 1.1;
}

#showcase .container .content-box p {
    font-size: 0.9rem;
}



.flex {
    display: flex;
}
/* service */
 #services { 
        grid-area: showcase ;
     border: 1px  solid black;
    }

/* } */
#services .container {
     max-width: 300px;
     height: auto; 
     margin: 0 auto;
     display: grid;
      /* grid-template-columns: ifr ifr ifr;   */
     grid-template-columns: repeat(3,1fr);
      grid-template-rows: 100px;
     gap: 20px;
     padding: 10px;
     /* box-sizing: border-box; */
}
#services .container .box {
    position: relative;
    background: white;
    padding: 20px 30px 30px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    line-height: 1;
}
#services .container .box h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 20;
    z-index: 1;
    opacity: 0.4;

}



#aboutuse {
    grid-area: aboutuse ;
    text-align: center;
}
#aboutus .container-man {
     width: 900px;
     height: 400px;
     margin: 400px auto;
     display: block; 
     text-align: center;
     background: yellowgreen;
  
}
        /* align-content: center; */
        /* display: flex; */


#aboutus .container-man .content-box {
    position:relatve;
    padding: 20px 20px  20px;
     text-align: center; 
    align-items: center;
    background-color: yellow;
    /* justify-content: center; */
     /* display: flex;  */
    
}
    
/* update */
    /* mobile first */
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

#appointment {
    grid-area: appointment  ;
    font-family: 'Roboto', sans-serif;
}
#appointment .overlay {
    opacity: 80%;
}
#appointment .overlay .container {
    max-width: 1120px;
    padding: 0 1rem ;
    margin: 0 auto;
}




#appointment .overlay .container .centet-flex {
    display:block;
   justify-content: space-between;
    padding: 1.5rem 0 1.5rem 0;
    align-items: center;
}
#appointment .container .centet-flex .p {
    margin: 0;
    text-align: center;
    grid-area: text;
}
#appointment .overlay .container .centet-flex .button {
    grid-area: button ;
}

footer {
    grid-area: footer ;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Roboto', sans-serif;
} 

 /* }  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2BAAEC;
    color: white;
    text-align: center;
}*/



@media (min-width: 768px) {
    .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    
    .navbar-nav {
        flex-direction: row;
    }

    .navbar-toggler {
        display: none;
    }
    
    .collapse:not(.show) {
        display: flex;
    }

    #appointment .overlay .container { 
        max-width: 720px;
    }
 
    #appointment .container .centet-flex {
       display:flex;
       justify-content: space-between;
      align-items: center;
    }
    #appointment .container .centet-flex .p {
        text-align: left;
    }
   
   /* .grid {  */
        /* display: grid; */
        /* grid-template-columns: repeat(3, 1fr); */
    /* }  */
}

@media (min-width: 1400px) {
    .grid {
        display: grid;
    
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:    "header header header"
                                "showcase about services"
                                "appointment appointment appointment"
                                "footer footer footer";
    }  
}
    







